<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--  Review-->
<!--</head>-->
<!--<body>-->



<!--<form th:action="@{/songs/review/{songId}(songId=${song.id})} " method="post">-->

<!--  <input type="hidden" name="id" th:value="${song?.id}" />-->

<!--  <label for="comment">Comment:</label>-->
<!--  <input type="text" id="comment" name="comment"  required />-->
<!--  <br/>-->

<!--  <label for="rating">Rating:</label>-->
<!--  <input type="text" id="rating" name="rating" required />-->
<!--  <br/>-->

<!--  <button type="submit">Add review</button>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->
